In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns           #import all necessary library functions ;)

In [4]:
df = pd.read_csv("C:\\Users\\shame\\OneDrive\\Desktop\\OIBSIP\\EMAIL SPAM DETECTION WITH MACHINE LEARNING\\spam.csv", encoding=("ISO-8859-1"))  #now load the dataset provided from the task list :!

In [5]:
print(df.head(10)) # View the dataset's initial rows to understand the patterns "_"

     v1                                                 v2 Unnamed: 2  \
0   ham  Go until jurong point, crazy.. Available only ...        NaN
1   ham                      Ok lar... Joking wif u oni...        NaN
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3   ham  U dun say so early hor... U c already then say...        NaN
4   ham  Nah I don't think he goes to usf, he lives aro...        NaN
5  spam  FreeMsg Hey there darling it's been 3 week's n...        NaN
6   ham  Even my brother is not like to speak with me. ...        NaN
7   ham  As per your request 'Melle Melle (Oru Minnamin...        NaN
8  spam  WINNER!! As a valued network customer you have...        NaN
9  spam  Had your mobile 11 months or more? U R entitle...        NaN

  Unnamed: 3 Unnamed: 4
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN
5        NaN        NaN
6        NaN        NaN
7        NaN        NaN
8        NaN        NaN
9        NaN        NaN

In [6]:
print(df.tail(10))  #do the same thing for viewing the final values too ^_^

        v1                                                 v2 Unnamed: 2  \
5562   ham  Ok lor... Sony ericsson salesman... I ask shuh...        NaN
5563   ham                                Ard 6 like dat lor.        NaN
5564   ham  Why don't you wait 'til at least wednesday to ...        NaN
5565   ham                                       Huh y lei...        NaN
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...        NaN
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will ÃŒ_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
5562        NaN        NaN
5563        NaN        NaN
5564        NaN        NaN
5565        NaN        NaN
5566        NaN        NaN
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

In [7]:
col = ['Unnamed: 2','Unnamed: 3','Unnamed: 4']
df.drop(col, axis = 1, inplace = True)
print(df.head(10))   # now cleaning the data <._.>

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [8]:
df.describe() #overview :))

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [9]:
df.info() #now info on that

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [10]:
df.isnull().sum()  #Check the null values out of them *_*

v1    0
v2    0
dtype: int64

In [11]:
df.duplicated().sum()  #now it's time for duplicate values to go down :|

403

In [12]:
df.drop_duplicates(keep= 'first', inplace = True)
df.duplicated().sum()    #Now get those things out of the dataset :>>

0

In [13]:
df.rename(columns={'v1' : 'Type', 'v2' : 'Message'}, inplace = True)
print(df.head(10))  #let's see how it turned out

   Type                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [15]:
print(df['Type'].value_counts())   #let's see how many types and their count are existing now

ham     4516
spam     653
Name: Type, dtype: int64

In [16]:
df.shape #All doneee :))

(5169, 2)

In [20]:
from sklearn.preprocessing import LabelEncoder
leen = LabelEncoder()
df['Type']=leen.fit_transform(df['Type'])
print(df['Type'])

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Type, Length: 5169, dtype: int32

In [21]:
X = df['Message']
Y = df['Type']

In [22]:
print(Y)

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Type, Length: 5169, dtype: int32

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.33, random_state = 3)

In [24]:
print(X_train)

4772       Ok then u tell me wat time u coming later lor.
3956                    Where is that one day training:-)
574                     Nope i waiting in sch 4 daddy...
2279                    Sorry, I'll call later in meeting
1328     My exam is for february 4. Wish you a great day.
                              ...
806      sure, but make sure he knows we ain't smokin yet
990                                          26th OF JULY
1723    Hi Jon, Pete here, Ive bin 2 Spain recently & ...
3519    No it will reach by 9 only. She telling she wi...
1745    IÃ¥Ã•m cool ta luv but v.tired 2 cause i have be...
Name: Message, Length: 3463, dtype: object

In [25]:
print(Y_train)

4772    0
3956    0
574     0
2279    0
1328    0
       ..
806     0
990     0
1723    0
3519    0
1745    0
Name: Type, Length: 3463, dtype: int32

In [26]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(3463,)
(3463,)
(1706,)
(1706,)

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english',lowercase='True')
X_train_f = feature_extraction.fit_transform(X_train)
X_test_f = feature_extraction.transform(X_test)

InvalidParameterError: The 'lowercase' parameter of TfidfVectorizer must be an instance of 'bool', an instance of 'numpy.bool_' or an instance of 'int'. Got 'True' instead.